input {
  border-radius: 20px;
  text-align: center;
  border: none;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

button {
  margin-top: 5px;
  padding: 20px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  border: 0.02px solid black;
}
