input {
  border-radius: 20px;
  text-align: center;
  border: none;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

button {
  width: 16%;
  margin-top: 5px;
  padding: 20px;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  border: 0.02px solid black;
  background:white;
  justify-content: center;
}

input[type=button] {
  background: white;
  width: auto;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}

input[type=button]:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type=button]:hover {
  background-color: #003300;
  color: white;
}

input[type = text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  box-shadow: 4px 0px 12px black inset;
}
#calc-contain{
  position: relative;
  width: auto;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0px auto;
  padding: 20px 20px 100px 20px;
  background: greenyellow
}

#fancy p{
  font-size: 20px;
  font-weight: 900;
  text-align:center;
}